<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="#"><div><%= link_to "Google Clone", pages_google_path%></div></a>
    <a href="#"><div><%= link_to "Tesla Clone", pages_tesla_path%></div></a>
    <a href="#"><div><%= link_to "Pinterest Clone", pages_pinterest_path%></div></a>
    <a href="#"><div><%= link_to "Social Clone", pages_social_path%></div></a>
  </div>
</div>


<div class="container">
  <h1>Hi from the home page</h1>
  <p> On this site you will get the chance to explore through Benjamin Nicklaus's projects</p>
  <h1>If you like what you see, feel free and contact me!!</h1>
  <p>1239-351-0443</p>
  <p>1295 swewtater cove Naples Fl 34110</p>
  <h1>CHECK OUT MY PORTFOLIO PAGE</h1>
  <p>https://bendevcamp-portfolio.herokuapp.com/</p>
</div>

